<h1>New</h1>
<%= form_for @stock do  |f|%>
    <p>
        <%= f.label :name %>
        <%= f.text_field :name , required: true %>
    </p>
    
    <p>
        <%= f.label :description %>
        <%= f.text_area :description , required: true %>
    </p>

    <p>
        <%= f.label :amount %>
        <%= f.number_field :amount , required: true %>
    </p>
    <p>
        <%= f.submit%>
    </p>
<% end %>